<a href="https://colab.research.google.com/github/Bereket2017issack/Machine-Learning-Pyspark/blob/master/Pspark_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pyspark practice

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/8e/b0/bf9020b56492281b9c9d8aae8f44ff51e1bc91b3ef5a884385cb4e389a40/pyspark-3.0.0.tar.gz (204.7MB)
     |████████████████████████████████| 204.7MB 74kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 39.9MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.0-py2.py3-none-any.whl size=205044182 sha256=2bf4a52e685d8f0f8615dbb3df717d9c0a5f6b02b99a3d4b99ddcc8ae19cdf00
  Stored in directory: /root/.cache/pip/wheels/57/27/4d/ddacf7143f8d5b76c45c61ee2e43d9f8492fc5a8e78ebd7d37
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.0

In [1]:
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q https://www-us.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
# !tar xf spark-2.4.1-bin-hadoop2.7.tgz
# !pip install -q findspark


!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop2.7"

import findspark
findspark.init()

In [2]:
# import SparkSession
from pyspark.sql import SparkSession

In [3]:
# create spark 
spark = SparkSession.builder.appName("Python Spark create RDD example").config("spark.some.config.option", "some-value").getOrCreate()

In [ ]:
df = spark.sparkContext.parallelize([(1, 2, 3, 'a b c'),
(4, 5, 6, 'd e f'),
(7, 8, 9, 'g h i')]).toDF(['col1', 'col2', 'col3','col4'])
df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+

In [4]:
dr = spark.sparkContext.parallelize([(3,3,3,'s i l o'),
                                     (2,2,2,'m i l o'),
                                     (4,4,4,'t o l o'),
                                     (5,5,5,'r i k o')]).toDF(['co1', 'co2', 'co3', 'co4']).show()

+---+---+---+-------+
|co1|co2|co3|    co4|
+---+---+---+-------+
|  3|  3|  3|s i l o|
|  2|  2|  2|m i l o|
|  4|  4|  4|t o l o|
|  5|  5|  5|r i k o|
+---+---+---+-------+

In [6]:
# By using createDataFrame( ) function

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark create RDD example").config("spark.some.config.option", "some-value").getOrCreate()
Employee = spark.createDataFrame([
('1', 'Joe', '70000', '1'),
('2', 'Henry', '80000', '2'),
('3', 'Sam', '60000', '2'),
('4', 'Max', '90000', '1')],
['Id', 'Name', 'Sallary','DepartmentId']
)

Employee.show()

+---+-----+-------+------------+
| Id| Name|Sallary|DepartmentId|
+---+-----+-------+------------+
|  1|  Joe|  70000|           1|
|  2|Henry|  80000|           2|
|  3|  Sam|  60000|           2|
|  4|  Max|  90000|           1|
+---+-----+-------+------------+

In [ ]:
## loading data using pyspark
## set up SparkSession
from pyspark.sql import SparkSession

spark = SparkSession \
.builder \
.appName("Python Spark create RDD example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

df = spark.read.format('com.databricks.spark.csv').\
options(header='true', inferschema='true').load("Accidental_Drug_Related_Deaths_2012-2018.csv", header=True)
df.show(5)
#df.printSchema()

AnalysisException: ignored

In [7]:
# rdd.DataFrame vs pd.DataFrame

my_list = [['a', 1, 2], ['b', 2, 3],['c', 3, 4]]
col_name = ['A', 'B', 'C']

In [14]:
# caution for the columns=
import pandas as pd
pd.DataFrame(my_list, columns= col_name), spark.createDataFrame(my_list, col_name).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  2|  3|
|  c|  3|  4|
+---+---+---+

(   A  B  C
 0  a  1  2
 1  b  2  3
 2  c  3  4, None)

In [19]:
my = [[1,2,3], [3,3,3], [4,4,4]]
coli = ['w', 'r', 't']

spark.createDataFrame(my, coli).show(), pd.DataFrame(my, coli)

+---+---+---+
|  w|  r|  t|
+---+---+---+
|  1|  2|  3|
|  3|  3|  3|
|  4|  4|  4|
+---+---+---+

(None,    0  1  2
 w  1  2  3
 r  3  3  3
 t  4  4  4)

In [20]:
# from dict

d = {'A': [0, 1, 0],
'B': [1, 0, 1],
'C': [1, 0, 0]}

pd.DataFrame(d)

   A  B  C
0  0  1  1
1  1  0  0
2  0  1  0

In [25]:
d.keys(), d.values()

(dict_keys(['A', 'B', 'C']), dict_values([[0, 1, 0], [1, 0, 1], [1, 0, 0]]))

In [27]:
list(d.values())

[[0, 1, 0], [1, 0, 1], [1, 0, 0]]

In [32]:
# but tedios for spark
import numpy as np
spark.createDataFrame(np.array(list(d.values())).T.tolist(), list(d.keys())).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  0|  1|  1|
|  1|  0|  0|
|  0|  1|  0|
+---+---+---+

In [33]:
# Comparison between pd dataframe and spark dataframe

#pd.DataFrame dp: DataFrame pandas
dp = pd.read_csv('Accidental_Drug_Related_Deaths_2012-2018.csv')
#rdd.DataFrame. dp: DataFrame spark
ds = spark.read.csv(path='Advertising.csv',
# sep=',',
# encoding='UTF-8',
# comment=None,
header=True,
inferSchema=True)

FileNotFoundError: ignored

In [39]:
dsa = spark.read.csv("WMT.csv")
dsa.show()

+-------+----------+----------+----------+----------+----------+--------+
|    _c0|       _c1|       _c2|       _c3|       _c4|       _c5|     _c6|
+-------+----------+----------+----------+----------+----------+--------+
|   Date|      Open|      High|       Low|     Close| Adj Close|  Volume|
|7/22/19|114.099998|114.339996|    112.32|    112.82|110.786369| 4516900|
|7/23/19|113.120003|113.199997|    111.57|112.089996|110.069527| 5754200|
|7/24/19|112.029999|112.790001|    111.57|       112|109.981148| 4177300|
|7/25/19|    112.18|112.389999|111.660004|112.220001|110.197182| 3851500|
|7/26/19|112.120003|113.339996|    111.82|113.019997|110.982758| 4729000|
|7/29/19|112.839996|112.980003|111.760002|112.269997|110.246277| 3746600|
|7/30/19|112.059998|112.400002|111.669998|112.059998| 110.04007| 3035200|
|7/31/19|111.910004|112.339996|109.629997|110.379997|108.390343| 6211300|
| 8/1/19|    110.32|112.169998|    109.32|109.379997|107.408363| 7455000|
| 8/2/19|109.739998|110.139999|108.150002|109.400002|107.428009| 5656700|
| 8/5/19|       108|       108|105.589996|    105.82|103.912552| 7570000|
| 8/6/19|106.190002|107.839996|105.589996|107.269997|105.336403| 7016400|
| 8/7/19|107.019997|108.639999|105.919998|108.199997|106.249641| 7278500|
| 8/8/19|108.010002|108.839996|107.769997|108.519997|107.088425| 4374400|
| 8/9/19|108.059998|108.459999|106.709999|107.279999|105.864777| 4193500|
|8/12/19|106.720001|106.839996|104.839996|105.220001|103.831963| 5305000|
|8/13/19|    105.25|108.110001|104.849998|107.410004|105.993073| 6675300|
|8/14/19|105.480003|108.059998|105.139999|106.199997|104.799026| 9312800|
|8/15/19|112.529999|113.639999|110.160004|112.690002|111.203423|19812900|
+-------+----------+----------+----------+----------+----------+--------+
only showing top 20 rows

In [ ]:
dp = pd.read_csv('Accidental_Drug_Related_Deaths_2012-2018.csv')
dp.head(3)

FileNotFoundError: ignored

In [ ]:
ds = spark.read.csv(path='Accidental_Drug_Related_Deaths_2012-2018.csv',
# sep=',',
# encoding='UTF-8',
# comment=None,
header=True,
inferSchema=True)

ds.show(3)

In [ ]:
# reading json

# : http://api.luftdaten.info/static/v1/data.json
dp = pd.read_json("http://api.luftdaten.info/static/v1/data.json")
dp.head(3)
#ds = spark.read.json('http://api.luftdaten.info/static/v1/data.json')

URLError: ignored

In [ ]:
ds = spark.read.json("http://api.luftdaten.info/static/v1/data.json")
ds.show()

In [40]:
# filling null values
datp = [[1,2,3, None], [4,5,4,7], [3,5,7,8]]
col = ['A', 'B', 'C', 'D']
dp = pd.DataFrame(datp, columns = col)
dp

   A  B  C    D
0  1  2  3  NaN
1  4  5  4  7.0
2  3  5  7  8.0

In [41]:
# filling the none with values

dp.fillna(-99)

   A  B  C     D
0  1  2  3 -99.0
1  4  5  4   7.0
2  3  5  7   8.0

In [42]:
ds = spark.createDataFrame(datp, col)
ds.show()

+---+---+---+----+
|  A|  B|  C|   D|
+---+---+---+----+
|  1|  2|  3|null|
|  4|  5|  4|   7|
|  3|  5|  7|   8|
+---+---+---+----+

In [43]:
# fill the none with any value

ds.fillna(-99).show()

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
|  1|  2|  3|-99|
|  4|  5|  4|  7|
|  3|  5|  7|  8|
+---+---+---+---+

In [44]:
# replace values
# # caution: you need to chose specific col
dp.A.replace([4], ['male'], inplace=True)
ds.A.replace
dp

      A  B  C    D
0     1  2  3  NaN
1  male  5  4  7.0
2     3  5  7  8.0

In [45]:
#caution: Mixed type replacements are not supported
ds.na.replace(['4'],['1']).show()

+---+---+---+----+
|  A|  B|  C|   D|
+---+---+---+----+
|  1|  2|  3|null|
|  4|  5|  4|   7|
|  3|  5|  7|   8|
+---+---+---+----+

In [46]:
# replace columns
dp.columns = ['a','b','c','d']
dp.head(4), ds.toDF('a','b','c','d').show(4)

+---+---+---+----+
|  a|  b|  c|   d|
+---+---+---+----+
|  1|  2|  3|null|
|  4|  5|  4|   7|
|  3|  5|  7|   8|
+---+---+---+----+

(      a  b  c    d
 0     1  2  3  NaN
 1  male  5  4  7.0
 2     3  5  7  8.0, None)

In [47]:
# rename some columns

mapping = {'Newspaper':'C','Sales':'D'}

dp.rename(columns = mapping)

      a  b  c    d
0     1  2  3  NaN
1  male  5  4  7.0
2     3  5  7  8.0

In [49]:
mappings = {'Newspaper':'C', 'Sales':'D'}
dp.rename(columns = mappings)

new_names = [mappings.get(col, col) for col in ds.columns]
ds.toDF(*new_names).show()

+---+---+---+----+
|  A|  B|  C|   D|
+---+---+---+----+
|  1|  2|  3|null|
|  4|  5|  4|   7|
|  3|  5|  7|   8|
+---+---+---+----+

In [50]:
dp.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [52]:
# rename one column using withColumnRenamed 

ds.withColumnRenamed('A', 'Paper').show()

+-----+---+---+----+
|Paper|  B|  C|   D|
+-----+---+---+----+
|    1|  2|  3|null|
|    4|  5|  4|   7|
|    3|  5|  7|   8|
+-----+---+---+----+

In [53]:
# droping columns 

ds.drop('A').show()

+---+---+----+
|  B|  C|   D|
+---+---+----+
|  2|  3|null|
|  5|  4|   7|
|  5|  7|   8|
+---+---+----+

In [54]:
# filtering 

ds[ds.B == 5].show()

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
|  4|  5|  4|  7|
|  3|  5|  7|  8|
+---+---+---+---+

In [55]:
# filtering

ds[(ds.B==5)&(ds.D==8)].show()

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
|  3|  5|  7|  8|
+---+---+---+---+

In [56]:
dp['neC'] = dp.c/sum(dp.c)
dp

      a  b  c    d       neC
0     1  2  3  NaN  0.214286
1  male  5  4  7.0  0.285714
2     3  5  7  8.0  0.500000

## Walmart data analystics using pyspark

In [57]:
daf = spark.read.csv('WMT.csv', inferSchema=True, header=True)

In [58]:
daf.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [60]:
daf.show(3)

+-------+----------+----------+------+----------+----------+-------+
|   Date|      Open|      High|   Low|     Close| Adj Close| Volume|
+-------+----------+----------+------+----------+----------+-------+
|7/22/19|114.099998|114.339996|112.32|    112.82|110.786369|4516900|
|7/23/19|113.120003|113.199997|111.57|112.089996|110.069527|5754200|
|7/24/19|112.029999|112.790001|111.57|     112.0|109.981148|4177300|
+-------+----------+----------+------+----------+----------+-------+
only showing top 3 rows

#### check the schema of the dataframe

In [61]:
daf.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [62]:
for line in daf.head(5):
  print(line, '\n')

Row(Date='7/22/19', Open=114.099998, High=114.339996, Low=112.32, Close=112.82, Adj Close=110.786369, Volume=4516900)

Row(Date='7/23/19', Open=113.120003, High=113.199997, Low=111.57, Close=112.089996, Adj Close=110.069527, Volume=5754200)

Row(Date='7/24/19', Open=112.029999, High=112.790001, Low=111.57, Close=112.0, Adj Close=109.981148, Volume=4177300)

Row(Date='7/25/19', Open=112.18, High=112.389999, Low=111.660004, Close=112.220001, Adj Close=110.197182, Volume=3851500)

Row(Date='7/26/19', Open=112.120003, High=113.339996, Low=111.82, Close=113.019997, Adj Close=110.982758, Volume=4729000)

In [64]:
daf.head(5)

[Row(Date='7/22/19', Open=114.099998, High=114.339996, Low=112.32, Close=112.82, Adj Close=110.786369, Volume=4516900),
 Row(Date='7/23/19', Open=113.120003, High=113.199997, Low=111.57, Close=112.089996, Adj Close=110.069527, Volume=5754200),
 Row(Date='7/24/19', Open=112.029999, High=112.790001, Low=111.57, Close=112.0, Adj Close=109.981148, Volume=4177300),
 Row(Date='7/25/19', Open=112.18, High=112.389999, Low=111.660004, Close=112.220001, Adj Close=110.197182, Volume=3851500),
 Row(Date='7/26/19', Open=112.120003, High=113.339996, Low=111.82, Close=113.019997, Adj Close=110.982758, Volume=4729000)]

#### Print the stats

In [65]:
daf.describe().show()

+-------+-------+------------------+------------------+------------------+------------------+------------------+-----------------+
|summary|   Date|              Open|              High|               Low|             Close|         Adj Close|           Volume|
+-------+-------+------------------+------------------+------------------+------------------+------------------+-----------------+
|  count|    252|               252|               252|               252|               252|               252|              252|
|   mean|   null|118.49293663095241|119.72218257142855|117.30674586111115|118.53186514285711|117.56109291666671|7612159.126984127|
| stddev|   null| 5.442405164003924| 5.393319975765895| 5.415009502174129| 5.337950077542543|  5.70788446048148|4350392.771785189|
|    min|1/10/20|        105.199997|        106.839996|             102.0|        104.050003|        103.137947|          2227400|
|    max| 9/9/19|        133.369995|        134.130005|        131.470001|        132.330002|        132.199997|         31152700|
+-------+-------+------------------+------------------+------------------+------------------+------------------+-----------------+

#### Format columns to show just 2 decimal places

In [ ]:
from pyspark.sql.functions import format_number

summary = daf.describe()
summary.select(summary['summary'],
               format_number(summary['Open'].cast('float'), 2).alias('Open'),
               format_number(summary['High'].cast('float'), 2).alias('High'),
               format_number(summary['Low'].cast('float'), 2).alias('Low'),
               format_number(summary ['Volume'].cast('int'), 0).alias('Volume')
               ).show()

+-------+------+------+------+----------+
|summary|  Open|  High|   Low|    Volume|
+-------+------+------+------+----------+
|  count|252.00|252.00|252.00|       252|
|   mean|118.49|119.72|117.31| 7,612,159|
| stddev|  5.44|  5.39|  5.42| 4,350,392|
|    min|105.20|106.84|102.00| 2,227,400|
|    max|133.37|134.13|131.47|31,152,700|
+-------+------+------+------+----------+

#### Create a new dataframe with a column called HV Ratio is the ratio of the High Price versus volume of stock traded for a day

In [66]:
daf.withColumn('HV Ratio', daf['High']/daf['Volume']).show()

+-------+----------+----------+----------+----------+----------+--------+--------------------+
|   Date|      Open|      High|       Low|     Close| Adj Close|  Volume|            HV Ratio|
+-------+----------+----------+----------+----------+----------+--------+--------------------+
|7/22/19|114.099998|114.339996|    112.32|    112.82|110.786369| 4516900|2.531382054063627...|
|7/23/19|113.120003|113.199997|    111.57|112.089996|110.069527| 5754200|1.967258645858677...|
|7/24/19|112.029999|112.790001|    111.57|     112.0|109.981148| 4177300|2.700069446771838...|
|7/25/19|    112.18|112.389999|111.660004|112.220001|110.197182| 3851500|2.918083837465922...|
|7/26/19|112.120003|113.339996|    111.82|113.019997|110.982758| 4729000|2.396701120744343...|
|7/29/19|112.839996|112.980003|111.760002|112.269997|110.246277| 3746600|3.015534164308973...|
|7/30/19|112.059998|112.400002|111.669998|112.059998| 110.04007| 3035200|3.703215669478123...|
|7/31/19|111.910004|112.339996|109.629997|110.379997|108.390343| 6211300|1.808639028866743E-5|
| 8/1/19|    110.32|112.169998|    109.32|109.379997|107.408363| 7455000|1.504627739771965...|
| 8/2/19|109.739998|110.139999|108.150002|109.400002|107.428009| 5656700|1.947071596513868...|
| 8/5/19|     108.0|     108.0|105.589996|    105.82|103.912552| 7570000|1.426684280052840...|
| 8/6/19|106.190002|107.839996|105.589996|107.269997|105.336403| 7016400|1.536970469186477...|
| 8/7/19|107.019997|108.639999|105.919998|108.199997|106.249641| 7278500|1.492615222916809...|
| 8/8/19|108.010002|108.839996|107.769997|108.519997|107.088425| 4374400|2.488112564008778...|
| 8/9/19|108.059998|108.459999|106.709999|107.279999|105.864777| 4193500|2.586383665196136...|
|8/12/19|106.720001|106.839996|104.839996|105.220001|103.831963| 5305000|2.013949029217719E-5|
|8/13/19|    105.25|108.110001|104.849998|107.410004|105.993073| 6675300|1.619552694260932E-5|
|8/14/19|105.480003|108.059998|105.139999|106.199997|104.799026| 9312800|1.160338437419465...|
|8/15/19|112.529999|113.639999|110.160004|112.690002|111.203423|19812900| 5.73565702143553E-6|
|8/16/19|114.080002|    114.93|112.059998|112.989998|111.499451|10965200|1.048134096961295...|
+-------+----------+----------+----------+----------+----------+--------+--------------------+
only showing top 20 rows

In [67]:
df_hv = daf.withColumn('HV Ratio', daf['High']/daf['Volume']).select(['HV Ratio'])
df_hv.show()

+--------------------+
|            HV Ratio|
+--------------------+
|2.531382054063627...|
|1.967258645858677...|
|2.700069446771838...|
|2.918083837465922...|
|2.396701120744343...|
|3.015534164308973...|
|3.703215669478123...|
|1.808639028866743E-5|
|1.504627739771965...|
|1.947071596513868...|
|1.426684280052840...|
|1.536970469186477...|
|1.492615222916809...|
|2.488112564008778...|
|2.586383665196136...|
|2.013949029217719E-5|
|1.619552694260932E-5|
|1.160338437419465...|
| 5.73565702143553E-6|
|1.048134096961295...|
+--------------------+
only showing top 20 rows

#### Which day has the peak hight in price

In [70]:
daf.orderBy(daf['High'].desc()).select(['Date']).head(1)[0]['Date']

'7/15/20'

#### What is the mean of the 'Close' column

In [71]:
from pyspark.sql.functions import mean

daf.select(mean('Close')).show()

+------------------+
|        avg(Close)|
+------------------+
|118.53186514285711|
+------------------+

#### What is the max and min value of the "Volume" column

In [72]:
from pyspark.sql.functions import min, max

daf.select(max('Volume'), min('Volume')).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   31152700|    2227400|
+-----------+-----------+

#### How many days did the stocks close lower than 1000 dollars

In [73]:
daf.filter(daf['Close'] < 1000).count()

252

#### What percentage of the time was the "High" greater than 120 dollars

In [74]:
daf.filter('High > 120').count() * 100/daf.count()

38.492063492063494

In [75]:
# or
daf.filter(daf['High'] > 120).count() * 100/daf.count()

38.492063492063494

#### What is the Pearson correlation between "High" and "Volume"

In [76]:
daf.corr('High', 'Volume')

0.2505374591916783

In [77]:
# or
from pyspark.sql.functions import corr

daf.select(corr(daf['High'], daf['Volume'])).show()

+------------------+
|corr(High, Volume)|
+------------------+
|0.2505374591916783|
+------------------+

#### What is the max "High" per year

In [78]:
from pyspark.sql.functions import (dayofmonth, hour,
                                   dayofyear, month,
                                   year, weekofyear,
                                   format_number, date_format)

year_daf = daf.withColumn('Year', year(daf['Date']))
#year_daf.show()#.groupBy('Year')#.show()

year_daf.groupBy('Year').max()['Year', 'max(High'].show()

AnalysisException: ignored

#### What is the average "Close" for each calender month?

In [79]:
#Create a new column Month from existing Date column
month_daf = daf.withColumn('Month', month(daf['Date']))
#month_daf.show()

#Group by month and take average of all other columns
month_daf = month_daf.groupBy('Month').mean()

#Sort by month
month_daf = month_daf.orderBy('Month')

#Display only month and avg(close), the desired columns
month_daf['Month', 'avg(close)'].show()

+-----+------------------+
|Month|        avg(close)|
+-----+------------------+
| null|118.53186514285711|
+-----+------------------+